.prose pre:not(.shiki) {
  padding: 100;
}

.prose .shiki {
  font-family: 'FiraCousine Mono', monospace;
  font-size: 1.2em;
  line-height: 1.3;
}

.prose img {
  width: 100%;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}
